langchain>=0.2.6
langchain_community>=0.2.6
langchain_huggingface>=0.0.1
langchain-chroma>=0.1.0
sentence-transformers>=2.2.0
chromadb>=0.4.0
fastembed>=0.5.0
streamlit>=1.32.2
streamlit_chat>=0.1.1
tinydb>=4.8.0
